<% include head.ejs %>


<div class="container" >
	<div class="page-header text-center">
		<h1> Welcome to MosaicNinja</h1>
		<p>NOTE: The rainbow filter for Facebook's Celebrate Pride will likely distort the mosaic.</p>
	</div>

	<div class="text-center">
			<img src="http://mhacks.org/images/mhacks_logo.svg" style="height:180px;width:190px;" />
			<img src="http://images.cpcache.com/image/6583719.png" style="height:168px;width:170px;" />
			<br>
			<br>
			<h2 class="lead" style="padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;">We are jdasflkjadsklfjaksldjfklasdjfjjkladsjfklasjfklasdjfklasjdfkl daslkfjsadlkfjasd fdlsakfjlkasdjfkl sadjfkl dj kfldjaklsdjf kljafs klfjsd</h2>
	</div>
</div>




<% include footer.ejs %>