<% include head.ejs %>


<div class="container" >
	<div class="page-header text-center">
		<h1> Welcome to MosaicNinja</h1>
		<p>NOTE: The rainbow filter for Facebook's Celebrate Pride will likely distort the mosaic.</p>
	</div>

	<div class="text-center">
			<img src="http://mhacks.org/images/mhacks_logo.svg" style="height:180px;width:190px;" />
			<img src="http://images.cpcache.com/image/6583719.png" style="height:168px;width:170px;" />
			<br>
			<br>
			<h2 class="lead" style="padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;">Ever wanted to make something cool? Ever wanted to have a large mosaic of your face? And ever wanted that mosaic to be uniquely you? Mosaic Ninja is here! It generates a mosaic of your Facebook profile picture based on your Facebook likes. After all, you are what you like.

And thanks to Expedia, you are where you want to travel, too! They've been generous to offer us an API to hack on, and they have a ton of pictures of tourist activities in cities across the world. Become the ultimate tourist and have your Facebook profile picture be composed of scenes from around the world.</h2>
	</div>
</div>




<% include footer.ejs %>