<footer class="footer">
       
      </footer>

  <!-- /container -->
	
	<!-- JS includes -->
	<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" scr="/components/jquery/dist/jquery.min.map"></script>
	<!--<script type="text/javascript" src="/javascripts/canvas.js"></script> -->

</body>
</html>