<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   
    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap-social/bootstrap-social.css">

</head>
<body>


<script type="text/javascript">
      
 window.fbAsyncInit = function() {
    FB.init({
      appId      : '1580113125600195',
      xfbml      : true,
      version    : 'v2.4'
    });
  };
  // Initialize the Facebook JavaScript SDK
  /*window.fbAsyncInit = function() {
  FB.init({
    appId: '1580113125600195',
    xfbml: true,
    status: true,
    cookie: true,
    version: 'v2.4'
  });
  //FB.getLoginStatus(checkLoginStatus);
  };
  */
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  // Check if the current user is logged in and has authorized the app
  

  // Login in the current user via Facebook and ask for email permission
  function authUser() {
    FB.login(checkLoginStatus, {scope:'email'});
  }

  // Check the result of the user status and display login button if necessary
  function checkLoginStatus(response) {
    if(response.status == 'connected') {
      authData = response.authResponse;
      console.log(authData);
      var ref = new Firebase("https://facebookmosaic.firebaseio.com/");
      var mosaicsref= ref.child("mosaics").child(authData.userID);
      
      console.log("Loading firebase");
      mosaicsref.on('child_changed',function (childSnapshot, prevChildKey){
        mosaicsref.once('value',function (dataSnapshot){
          var source = dataSnapshot.val();
          console.log(source);
          var canvas = document.getElementById('new_canvas');
          var context = canvas.getContext('2d');
          //actual
          for(var row=0; row< source.length; row++){
            for(var col=0;col<source[row].length;col++){
              var ctx = document.getElementById('new_canvas').getContext('2d');
              var pixel = source[row][col];
              var img = new Image();
              img.src = "http://www.html5canvastutorials.com/demos/assets/darth-vader.jpg";
              //"data:image/jpeg;base64,"+pixel;
              img.onload = function () {
                ctx.drawImage(this, row*50, col*50, 50, 50);
              };
            }
          }
        }, function (err){
          console.log("Error drawing canvas:", err);
        });
      
      });

      // Hide the login button
      document.getElementById('loginButton').style.display = 'none';
      
      // Now Personalize the User Experience
      // console.log('Access Token: ' + response.authResponse.accessToken);
    } else {
      
      
      // Display the login button
      document.getElementById('loginButton').style.display = 'block';
    }
  }

</script>
<script type="text/javascript" src="/components/firebase/firebase.js"></script>
    





<!-- header -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MosaicNinja</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
        
        
            
          
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
