<% include head.ejs %>


<div class="container" >
	<div class="page-header text-center">
		<h1> Welcome to MosaicNinja</h1>
		<p>NOTE: The rainbow filter for Facebook's Celebrate Pride will likely distort the mosaic.</p>
	</div>

	
	<div class="text-center">
		<img src="http://mhacks.org/images/mhacks_logo.svg" style="height:180px;width:190px;" />
		<img src="http://images.cpcache.com/image/6583719.png" style="height:168px;width:170px;" />

		<br>
		<br>
		<div class="col-md-4"></div>
		<div class="col-md-4">
					<a id="loginButton" class="btn btn-block btn-lg btn-social btn-facebook"type="button"  onclick="authUser();"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
		</div>
		<div class="col-md-4"></div>
	</div>

			<!--<div class="progress">

			  	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			    60%
			  	</div>

		  	</div>-->
		  	
	  	

		  	<div class="col-md-4"></div>
			  	<div class="col-md-4 drop" style="text-align:center;">
			  		
			  		<form id="mosaicform" action="/mosaic">
						<!--<div class="btn-group ">

					    <button class="btn  default" style="position:relative;">......</button>
					    <button class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					   </button>
				 		<ul class="dropdown-menu" class="list-unstyled" role="menu" aria-labelledby="dropdownMenu"> -->
				 		You are what you
				 	   <select name="choice" id="choice" >
				 	   	  	
						   <option value="like" id="like">Like</option>
						   <option value="travel" id="travel">Travel</option>

					   </select>
					   <div class="checkbox">
					    <label class="checkbox-inline">
					      <input type="checkbox" name="city" value="London"> London
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox" name="city" value="Bangkok"> Bangkok
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox" name="city" value="Paris"> Paris
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox" name="city" value="Dubai"> Dubai
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox" name="city" value="Istanbul"> Istanbul
					    </label>
					    <label class="checkbox-inline"> 
					      <input type="checkbox" name="city" value="New York"> New York
					    </label>
					    <label class="checkbox-inline"> 
					      <input type="checkbox" name="city" value="Singapore"> Singapore
					    </label>
					    <label class="checkbox-inline"> 
					      <input type="checkbox" name="city" value="Kuala Lumpur"> Kuala Lumpur
					    </label>
					    <label class="checkbox-inline"> 
					      <input type="checkbox" name="city" value="Seoul"> Seoul
					    </label>
					    <label class="checkbox-inline"> 
					      <input type="checkbox" name="city" value="Hong Kong">Hong Kong
					    </label>
					  </div>
					  
											 	
			<br>
			<br>
						<p class="error"></p>
						<input id='mosaicgenerator' type="submit"class="btn btn-default" value="Generate Mosaic"/>

							
						
					</form>
				</div>
			<div class="col-md-4"></div>

			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="success text-center">
					<h3>Loading </h3>
					<h2 class="lead">
					We are working hard on your mosaic!
					</h2>
					</div>
				</div>
			<div class="col-md-4"></div>
</div>


<br>
<canvas id="new_canvas" width="1200" height="1200" style="text-align:center;padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;">
Your browser does not support the HTML5 canvas tag.
</canvas>




<% include footer.ejs %>