<% include head.ejs %>


<div class="container">
	<div class="page-header">
		<h1> Welcome </h1>
	</div>
	<div class="lead">
	MosaicNinja is ...
	</div>

	<div class="btn-group">

	    <button class="btn">You are what you</button>
	    <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	   </button>
	 <ul class="dropdown-menu" class="list-unstyled" role="menu" aria-labelledby="dropdownMenu">

	   <li><a tabindex="1" href="#">You are what you Like</a></li>
	   <li><a tabindex="2" href="#">You are what you Eat</a></li>
	   <li><a tabindex="3" href="#">You are what you Experience</a></li>
	   
	 </ul>
	</div>
	
	
	<br>
	<br>

	<div class="container" id="status">
		<div class="row">
  			<div class="col-xs-6 col-md-4">
  			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</div>

			
		</div>
	</div>

	
	<br>

	<div id='mosaicgenerator'type="button"class="btn btn-default">
			Mosaic Generator
	</div>

	<br>
	<br>

	<div class="progress">
  	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  	</div>
</div>


	<p class="message"></p>

<br>
<canvas id="new_canvas">
Your browser does not support the HTML5 canvas tag.
</canvas>

</div>

<% include footer.ejs %>