<% include head.ejs %>
<div class="container">
	<div class="page-header">
		<h1> Welcome </h1>
	</div>
	<div class="lead">
	MosaicNinja is ...
	</div>

	<ul>
	
	<li class="dropdown ">
		You are what you
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="#">LIKE</a></li>
            <li><a href="#">EAT</a></li>
            <li><a href="#">EXPERIENCE</a></li>
            
          </ul>
    </li>
    </ul>

	<div id="status">
		<div class="row">
  			<div class="col-xs-6 col-md-4">
  			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
			</div>

			
		</div>
	</div>
	
	<div id='mosaicgenerator'type="button"class="btn btn-default">
			Mosaic Generator
	</div>



	  	<p class="">message</p>


</div>
<% include footer.ejs %>